$primary: #a4c7c6;
$secondary: #facd66;
$info: #1a1e1f;
$dark: #1d2123;
$light: #efeee0;

$roboto: "Open Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;
$stix-two-text: "STIX Two Text", sans-serif;
